.sidebarOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  width: 10vw;
  margin: 10px 0 0 10px;
}

.sidebarOptions:hover {
  background-color: #f0f8ff;
  border-radius: 50px;
  color: var(--button-color);
  transition: color 0.3s ease-out;
}

.sidebarOptions > h2 {
  font-size: 1.5em; 
  font-weight: 400;
}